#MenuH {
  display: inline-block;
  margin-left: -11px;
  position: relative; 
  background-color: #ffffff; 
  color: #237ac5 ;
}
#MenuH ul.menu {
  float: left;
}
#MenuH ul.menu > li:hover,
#MenuH ul.menu > li.current {
  background: #237ac5;
  text-decoration: none;
  color:  #ffffff;
}
<!-- 
#MenuH ul.menu > li > a,
#MenuH ul.menu > li > span {
  color: #237ac5;
  font-family: inherit;
  font-size: 15px !important;
  padding: 15px 11px;
  text-decoration: none;
}
#MenuH ul.menu > li:hover > a,
#MenuH ul.menu > li:hover > span,
#MenuH ul.menu > li.current > a,
#MenuH ul.menu > li.current > span {
  color: #fff;
  background: #237ac5;
  font-family: inherit;
  font-size: 15px !important;
  padding: 15px 11px;
  text-decoration: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#MenuH .submenu {
  background-color: #237ac5;
  margin-bottom: 1px !important;
  margin: 0;
  padding: 0;
  z-index: 9999;
  display:table-cell;
}
#MenuH .submenu li,
#MenuH .submenu li:hover,
#MenuH .submenu li.current {
    background-color: #237ac5;
  margin: 0;
  text-decoration: none;
}
#MenuH .submenu li a,
#MenuH .submenu li span {
  color: #ffffff;
  opacity: 0.7;
  padding: 4px 30px 4px 10px;
  text-decoration: none;
  text-transform: none;
  background-color: #237ac5;
}
#MenuH .submenu li:hover > a,
#MenuH .submenu li:hover > span,
#MenuH .submenu li.current > a,
#MenuH .submenu li.current > span {
  color: #ffffff;
  background-color: #0061b5;
  opacity: 1.0;
  padding: 4px 30px 4px 10px;
  text-decoration: none;
  text-transform: none;
}
#MenuH.megamenu .mega > .submenu > li,
#MenuH.megamenu .mega > .submenu > .megamenu-row > li {
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 5px;
}
#MenuH.megamenu .mega > .submenu > li:last-child,
#MenuH.megamenu .mega > .submenu > .megamenu-row > li:last-child {
  border-right: none;
}
#MenuH.megamenu .mega > .submenu > li > a,
#MenuH.megamenu .mega > .submenu > .megamenu-row > li > a {
  font-size: 15px !important;
  padding: 10px 0 10px 15px !important;
}
#MenuH.megamenu .mega > .submenu .submenu {
  border: none;
  padding-left: 15px;
  display:table-cell;
}
#MenuH.megamenu .mega > .submenu .submenu li a {
  background: #237ac5 !important;
  border-bottom: none;
  padding: 6px 0;
}
#MenuV {
  display: block;
  margin-bottom: 15px;
}
#MenuV ul.menu > li {
  background-color: #f1f1f1;
  margin: 0 0 1px 0;
  text-decoration: none;
}
#MenuV ul.menu > li:hover,
#MenuV ul.menu > li.current {
  background-color: #237ac5;
  margin: 0 0 1px 0;
  text-decoration: none;
}
#MenuV ul.menu > li > a,
#MenuV ul.menu > li > span {
  color: #237ac5;
  background-color: #ebebeb;
  font-family: inherit;
  font-size: 15px !important;
  opacity: 0.7;
  padding: 11px;
  text-decoration: none;
}
#MenuV ul.menu > li:hover > a,
#MenuV ul.menu > li:hover > span,
#MenuV ul.menu > li.current > a,
#MenuV ul.menu > li.current > span {
  color: #237ac5;
  background-color: #cecece;
  font-family: inherit;
  font-size: 15px !important;
  opacity: 1.0;
  padding: 11px;
  text-decoration: none;
}
#MenuV .submenu {
  background-color: #237ac5;
  margin: 0 0 0 -1px !important;
  padding: 0;
  top: 0 !important;
  z-index: 9999;
}
#MenuV .submenu li,
#MenuV .submenu li:hover,
#MenuV .submenu li.current {
  background-color: #237ac5 none;
  margin: 0;
  text-decoration: none;
}
#MenuV .submenu li a,
#MenuV .submenu li span {
  color: #ffffff;
  opacity: 0.7;
  padding: 4px 30px 4px 10px;
  text-decoration: none;
  text-transform: none;
}
#MenuV .submenu li:hover > a,
#MenuV .submenu li:hover > span,
#MenuV .submenu li.current > a,
#MenuV .submenu li.current > span {
  color: #ffffff;
  opacity: 1.0;
  padding: 4px 30px 4px 10px;
  text-decoration: none;
  text-transform: none;
}
#MenuV.megamenu .mega > .submenu > li,
#MenuV.megamenu .mega > .submenu > .megamenu-row > li {
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  padding: 5px;
}
#MenuV.megamenu .mega > .submenu > li:last-child,
#MenuV.megamenu .mega > .submenu > .megamenu-row > li:last-child {
  border-right: none;
}
#MenuV.megamenu .mega > .submenu > li > a,
#MenuV.megamenu .mega > .submenu > .megamenu-row > li > a {
  font-size: 15px !important;
  padding: 10px 0 10px 15px !important;
}
#MenuV.megamenu .mega > .submenu .submenu {
  border: none;
  padding-left: 15px;
}
#MenuV.megamenu .mega > .submenu .submenu li a {
  background: #237ac5 !important;
  border-bottom: none;
  padding: 6px 0;
}
#MenuV.accordion .submenu {
  margin: 0 !important;
}
#MenuV.accordion .submenu li,
#MenuV.accordion .submenu li:hover,
#MenuV.accordion .submenu li.current {
  border-bottom: 1px solid #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
#MenuV.accordion .submenu li .submenu li,
#MenuV.accordion .submenu li .submenu li:hover,
#MenuV.accordion .submenu li .submenu li.current {
  border-bottom: none !important;
  font-size: 0.9em;
  padding-left: 10px;
}
#MenuH {
    border-top: 1px #eee solid;
    margin: 0;
    padding: 0;
}
#MenuH > select + span:before {
	margin-left: 20px;
}
#MenuH:empty {
  display: none !important;
}
#MenuH ul.menu > li {
  float: left;
    border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#MenuH ul.menu,
#MenuH ul.menu li,
#MenuH ul.menu li a,
#MenuH ul.menu li span {
  display: inline-block;
  list-style: none;
}
#MenuV ul.menu,
#MenuV ul.menu li,
#MenuV ul.menu li a,
#MenuV ul.menu li span,
#MenuH ul.menu ul li,
#MenuH ul.menu ul li a,
#MenuH ul.menu ul li span,
#MenuV ul.menu ul li,
#MenuV ul.menu ul li a,
#MenuV ul.menu ul li span {
  display: block;
  border-radius: 4px;
  list-style: none;
}
#MenuH .widget,
#MenuV .widget {
  margin-bottom: 0;
}
#MenuH .submenu,
#MenuV .submenu {
  display: none;
}
/*Guarantee that submenus do not load open*/
.IE7 #MenuH ul.menu,
.IE8 #MenuH ul.menu {
  display: block !important;
}
/*hide mobile menus in IE<=IE8*/
.IE7 #MenuH > select,
.IE8 #MenuH > select {
  display: none !important;
}
.IE7 #MenuH > select + span,
.IE8 #MenuH > select + span {
  display: none !important;
}
/*Clear nav styles in navigation elements*/
#MenuH nav,
#MenuV nav,
article nav {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}