@using Orchard.MediaLibrary.Models
@using Orchard.Utility.Extensions;
@{
    MediaPart mediaPart = Model.ContentItem.MediaPart;
    var contentTypeClassName = mediaPart.ContentItem.ContentType.HtmlClassify();
}
<article class="media-item media-item-summary @contentTypeClassName">
    <header>
	<h3>
        	<a href="@Display(Model.ContentItem.MediaPart.MediaUrl)" >@Display(Model.ContentItem.MediaPart.Title)</a>
    	</h3>
    </header>
</article>
